{{ define `title` }}{{ .Title }} | Thịnh Blog{{ end }}
{{ define `description` }}{{ .Page.Params.Description }}{{ end }}
{{ define `style_extra` }}
  <link rel="stylesheet" href="vendor/css/darcula.css">
{{ end }}
{{ define `content` }}
  <main role="main" class="container mt-3">
    <div class="row">
      <div class="col-lg-8">
        <div class="container mt-1 mb-3">
          {{ partial `searchForm.html` . }}
        </div>
        <div class="d-none d-xl-block text-center mb-4">
          <div class="ad ad-728x90"></div>
        </div>
        <div class="d-none d-sm-block d-xl-none text-center mb-4">
          <div class="ad ad-468x60"></div>
        </div>
        <section class="header">
          <h1>&raquo; <strong>{{ .Title }}</strong></h1>
          <hr class="mb-1">
          <div class="row">
            <div class="col-8">
              <small class="text-mutex">Cập nhật: {{ .Date.Format `02.01.2006` }} | <a href="" class="text-decoration-none text-info">{{ .Page.Params.author }}</a></small>
              <br>
              <small class="text-mutex">Lượt xem: {{ .Page.Params.Views }}</small>
              <br>
              <small class="text-mutex">Tags:</small>
              <small>
                {{ range $key, $value := .Page.Params.Tags }}
                  {{ if $value }}
                    <a href="/search/?q={{ $value | urlize }}" class="text-warning">#{{ $value }}</a>{{ if ne $key (len $.Params.Tags) 1 }}, {{ end }}
                  {{ end }}
                {{ end }}
              </small>
            </div>
            <div class="col-4 d-flex align-items-center justify-content-end">
              {{ range .Page.Params.categories }}
                <a href="categories/{{ . | urlize }}" class="badge badge-dark">{{ . }}</a>
              {{ end }}
            </div>
          </div>
        </section>
        <hr class="mt-1">
        <img src="{{ .Page.Params.Thumbnail }}" class="img-fluid rounded mx-auto d-block mb-3" alt="{{ .Title }}">
        <article class="bg-white p-3 mb-4 rounded shadow-sm content">
          {{ .Content }}
        </article>
        <div class="d-none d-xl-block text-center mb-4">
          <div class="ad ad-728x90"></div>
        </div>
        <div class="d-none d-sm-block d-xl-none text-center mb-4">
          <div class="ad ad-468x60"></div>
        </div>
        <div class="row row-cols-1 row-cols-md-2">
          {{ with .Site.GetPage `section` `blogs` }}
            {{ range first 2 .Pages }}
              {{ .Render `summary` }}
            {{ end }}
          {{ end }}
        </div>
        <section class="bg-white p-4 mb-4 rounded shadow-sm">
          <h4>Bình luận</h4>
          <hr>
        </section>
      </div>
      {{ partial `sidebar.html` . }}
    </div>
  </main>
{{ end }}
{{ define `script_extra` }}
  <script src="vendor/js/highlight-10.1.2.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
{{ end }}
