<aside class="col-lg-4">
  <div class="bg-white p-4 mb-4 rounded-note shadow-sm">
    <h5>về tôi...</h5>
    <hr>
    <p class="side-small-text mb-0 px-3"></p>
  </div>
  <div class="text-center mb-4">
    <div class="ad ad-300x250"></div>
  </div>
  <div class="bg-white p-4 mb-4 overflow-hidden rounded-note shadow-sm">
    <h5>Phổ biến</h5>
    <hr class="mb-0">
    <ul class="list-group list-group-flush side-small-text">
      {{ with .Site.GetPage `section` `blogs` }}
        {{ range first 3 (.Pages.ByParam `views`).Reverse }}
          {{ .Render `li` }}
        {{ end }}
      {{ end }}
    </ul>
  </div>
  <div class="sticky-top text-center mb-4">
    <div class="ad ad-300x600"></div>
  </div>
</aside>
